.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px;
  gap: 8px;
  width: 115px;
  height: 34px;
  font-weight: 500;
  border-radius: 6px;
  background-color: var(--grey-100);
  transition: all 0.2s ease-in-out;
  color: var(--grey-800);
  &:hover {
    background-color: var(--grey-300);
    box-shadow: 0 0 30px 0 rgba(4, 138, 191, 0.8),
    0 0 20px 5px rgba(14, 252, 247, 0.54),
    inset 0 0 10px 0 #00D5FF;
    color: var(--grey-100);
  }
}
.button__icon svg {
    fill: var(--blue);
}
.button__text {
    font-size: 14px;
    line-height: 16px;
}
