.header {
  padding-inline: 3rem;
}
.header__image {
  max-width: 80%;
  border-radius: 999px;
  box-shadow: 0 0 60px 0 rgba(4, 138, 191, 0.8),
    inset -100px 10px 80px 20px #080707, 0 0 40px 10px rgba(14, 252, 247, 0.54),
    inset 0 0 10px 0 #00d5ff;
}
.header__text--main {
  color: var(--grey-100);
  font-size: clamp(2.5rem, 2.2943rem + 1.0063vw, 3.2rem);
}
.header__text--sub {
  color: var(--pink);
}
.header__link {
  color: var(--grey-100);
  
  &:hover {
    color: var(--blue);
    
  }
}
.header__link svg {
  fill: bar(--grey-100);
  &:hover {
    fill: var(--blue);
  }
}

.header__buttons {
  display: flex;
  padding: 1.5rem 0 0 0;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
